<%- include ('partials/head') %>
<body>
    <h1>TURNOS</h1>
    <table class="tabla-turnos">
        <thead>
            <tr>
                <th>id</th>
                <th>fecha</th>
                <th>hora</th>
                <th>id paciente</th>
            </tr>
        </thead>
        <tbody>
            <% turno.forEach(turno=> { %>
                <tr>
                    <td>
                        <%= turno.id %>
                    </td>
                    <td>
                        <%= turno.fecha %>
                    </td>
                    <td>
                        <%= turno.hora %>
                    </td>
                    <td>
                        <%= turno.idPaciente %>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
</body>
</html>
